<h2>Mapas</h2>
<ui-gmap-google-map center='$ctrl.map.center' zoom='$ctrl.map.zoom' options="$ctrl.options" ng-if="$ctrl.map.center">
  <ui-gmap-markers models="$ctrl.markers" coords="'self'" options="'markerOptions'">
    <ui-gmap-windows show="show">
      <div ng-non-bindable>{{title | currency}}</div>
    </ui-gmap-windows>
  </ui-gmap-markers>
</ui-gmap-google-map>
