<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    <a class="navbar-brand" href="#">
        Nextdots
      </a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" collapse="navbarCollapsed">
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a ui-sref="alojamientos"><i class="glyphicon glyphicon-home"></i> Listado <span class="sr-only">(current)</span></a>
      </li>
      <li><a ui-sref="maps"><i class="glyphicon glyphicon-map-marker"></i> Mapas</a></li>
      <li><a ui-sref="favorites"><i class="glyphicon glyphicon-star"></i> Favoritos</a></li>
    </ul>
  </div>
</nav>
