<div class="profile-sidebar shadow">
  <!-- SIDEBAR USERPIC -->
  <div class="profile-userpic">
    <img src="/images/user.jpg" class="img-responsive" alt="">
  </div>
  <!-- END SIDEBAR USERPIC -->
  <!-- SIDEBAR USER TITLE -->
  <div class="profile-usertitle">
    <div class="profile-usertitle-name">
      Alexis Pati&ntilde;o
    </div>
    <div class="profile-usertitle-job">
      FrontEnd Developer
    </div>
  </div>
  <!-- END SIDEBAR USER TITLE -->
  <!-- SIDEBAR BUTTONS -->
  <div class="profile-userbuttons">
    <button type="button" class="btn btn-danger btn-sm">Cerrar Sesi&oacute;n</button>
  </div>
  <!-- END SIDEBAR BUTTONS -->
  <!-- SIDEBAR MENU -->
  <div class="profile-usermenu">
    <ul class="nav">
      <li ng-repeat="item in ::$ctrl.menuItems" ng-class="{active : $ctrl.activeMenu === item}">
        <a ui-sref="{{item.state}}" ng-click="$ctrl.setActive(item)">
          <i class="{{::item.icon}}"></i> {{ ::item.label }} </a>
      </li>
    </ul>
  </div>
  <!-- END MENU -->
</div>
