<div class="container">
  <app-header></app-header>
  <div class="row profile">
    <div class="col-md-3 hidden-xs hidden-sm">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <div class="profile-content shadow">
        <div ui-view></div>
      </div>
    </div>
  </div>
</div>
