<div class="row">
  <h2 class="text-center">{{$ctrl.alojamientos[0].listing.city}}</h2>
  <div ng-repeat="alojamiento in $ctrl.alojamientos">
    <alojamiento data="alojamiento"></alojamiento>
    <div class="clearfix" ng-if="$odd"></div>
  </div>
</div>
