<!-- Card Projects -->
<div class="col-sm-6 col-md-6">
  <div class="card">
    <div class="card-image">
      <div class="image" style="background-image:url({{::$ctrl.data.listing.picture_url}});"></div>
      <span class="card-favorite"><i class="text-right glyphicon glyphicon-star-empty" aria-hidden="true"></i> </span>
      <span class="card-title">{{::$ctrl.data.pricing_quote.localized_nightly_price | currency}}</span>
    </div>
    <div class="card-content">
      <h4 class="card-title2">{{::$ctrl.data.listing.name}}
      </h4>
      <hr>
      <div class="card-items">
        <p><label>Direcci&oacute;n: </label>{{::$ctrl.data.listing.public_address}}</p>
        <p><label>Tipo de Propiedad: </label>{{::$ctrl.data.listing.property_type}}</p>
        <p><label>Tipo de Habitaci&oacute;n: </label>{{::$ctrl.data.listing.room_type}}</p>
        <p><label>Nro. Huespedes: </label>{{::$ctrl.data.pricing_quote.guests}}</p>
        <p><label>Nro. Ba&ntilde;os: </label>{{::$ctrl.data.listing.bathrooms}}</p>
        <p><label>Nro. Dormitorios: </label>{{::$ctrl.data.listing.bedrooms}}</p>
        <p><label>Nro. Camas: </label>{{::$ctrl.data.listing.beds}}</p>
      </div>
    </div>
    <div class="card-action">
      <a class="btn btn-default" ui-sref="alojamiento({id:$ctrl.data.listing.id})">Ver m&aacute;s</a>
    </div>
  </div>
</div>
