.card {
  background: #fff;
  margin-top: 10px;
  margin-bottom:10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.card span.card-title {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  font-weight: 300;
  text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}

.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
}

.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}

.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
  h4 {
    font-weight: 700;
  }
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card hr {
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.card .card-content span.card-title {
  line-height: 48px;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}

.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.card-favorite {
  font-size: 2em;
  color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px;
}

.card .image {
  position: relative;
  float: left;
  width: 100%;
  height: 280px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
