.angular-google-map-container {
  height: 100px;
}

.alojamientos-detail .image{
  margin: 0 auto;
}

.alojamientos-detail .card-desc {
  height: 50px;
  margin-bottom: 1em;
  overflow: hidden;
}

.alojamientos-detail .show {
  overflow: visible;
  height: auto;
}
