<h3 class="text-center">{{$ctrl.alojamiento.listing.name}}</h3>
<h5 class="text-center">{{$ctrl.alojamiento.listing.public_address}}</h5>
<div class="alojamientos-detail row">
  <div class="col-md-12 clearfix ">
    <img class="img-responsive image" ng-src="{{$ctrl.alojamiento.listing.picture_url}}" alt="picture_url">
    <span>{{$ctrl.alojamiento.listing.price | currency}} </span>
  </div>
  <div class="col-md-7">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="card-desc" ng-class="{show: show}">
          {{$ctrl.alojamiento.listing.description}}
        </div>
        <button class="btn btn-default" ng-click="show = !show">Leer mas</button>
      </li>
      <li class="list-group-item">Precio: {{$ctrl.alojamiento.listing.price | currency}}</li>
      <li class="list-group-item">Tipo de Propiedad: {{$ctrl.alojamiento.listing.property_type}}</li>
      <li class="list-group-item">Tipo de Habitac&oacute;n: {{$ctrl.alojamiento.listing.room_type}}</li>
      <li class="list-group-item">Cant. de Huespedes: {{$ctrl.alojamiento.listing.guests_included}}</li>
      <li class="list-group-item">Cant. de ba&ntilde;os {{$ctrl.alojamiento.listing.bathrooms}}</li>
      <li class="list-group-item">Cant. de Dormitorios: {{$ctrl.alojamiento.listing.bedrooms}}</li>
      <li class="list-group-item">Cant. de Camas {{$ctrl.alojamiento.listing.beds}}</li>
    </ul>
  </div>
  <div class="col-md-5">
    <ui-gmap-google-map center='$ctrl.map.center' zoom='$ctrl.map.zoom' options="$ctrl.options" ng-if="$ctrl.map.center">
      <ui-gmap-marker coords="$ctrl.marker.coords" idkey="$ctrl.marker.id"></ui-gmap-marker>
    </ui-gmap-google-map>
  </div>
</div>
